<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../css/home.css">
    <script src="../js/header.js" type="module" defer></script>
    <script src="../js/searchBar.js" type="module"></script>
    <script src="../js/footer.js" defer></script>
</head>

<body>
    <!-- Vị trí header -->
    <header-component></header-component>

    <!-- Vị trí search-bar -->
    <search-bar-component></search-bar-component>

    <!-- Nội dung trang -->
    <div id="content">
        <h1>Welcome to the Home Page</h1>
        <button id="edit-info-button" style="display: none;">Edit Info</button>
        <p id="info-text">You must be logged in to edit your info.</p>
    </div>

    <!-- Vị trí footer -->
    <footer-component></footer-component>
</body>

</html>