<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictinary</title>
    <link rel="stylesheet" href="../../../css/admin/dashboard.css">
    <link rel="stylesheet" href="../../../css/admin/word_management/add_word.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js" defer></script>
    
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h2></h2>
        </div>
        <ul>
            <li><a href="#home"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#"><i class="fas fa-user"></i> User</a></li>
            <li><a href="word_management.html"><i class="fas fa-user"></i> Word Management</a></li>
            <li><a href="#settings"><i class="fa-solid fa-hat-cowboy"></i>API</a></li>
            <li><a href="#logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <div class="menu">
                <span>Welcome, !</span>
            </div>
        </div>
        <div class="content">
            <div id="word-label" class="normal">
                <div class="btn-container">
                    <button class="btn btn-delete" id="btn-delete-word"><i class="fas fa-trash-alt"></i></button>
                    <button class="btn btn-save" id="btn-save-word"><i class="fas fa-save"></i></button>
                    <button class="btn btn-edit" id="btn-edit-word"><i class="fas fa-edit"></i></button>
                </div>
                
                <div id="word-name-container">
                    <div class = "word-name">Hello</div>
                    <input class="word-name" placeholder="Word name" value="Hello">
                    <div id="word-name-error" class="error-message"></div>
                </div>
            </div>

            <!-- class = "edit" -->
            <div id="type-section" >
                <!-- <div class="type-label">
                    <span><strong>Types of word:</strong></span>
                </div> -->
                <div id="type-section-error" class="error-message"></div>
                <div id="type-container">
                    
                </div>
                <div id = "btn-add-type-container">
                    <button class = "btn" id="btn-add-type">Add more type</button>
                </div>
            </div>

            <div class="modal-type">

            </div>


        
        
            <div id="antonym-section">
                <div class="antonym-label">
                    <span><strong>Antonyms:</strong></span>
                </div>
                <div class="antonym-search">
                    <input type="text" placeholder="search antonym" id = "antonym-search">
                    <ul class="result-search">
                            
                    </ul>
                </div>
                <div class="antonym-container">
                    
                </div>
            </div>
            <div id="synonym-section">
                <div class="synonym-label">
                    <span><strong>Synonyms:</strong></span>
                </div>
                <div class="synonym-search">
                    <input type="text" placeholder="search synonym" id = "synonym-search">
                    <ul class="result-search">
                            
                    </ul>
                </div>
                <div class="synonym-container">
                   
                </div>
        
        </div>
    </div>
    <script src="../../../js/dashboard.js"></script>
    <script src="../../../js/admin/word_management/add-word.js"></script>
</body>
</html>