<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../../css/admin/dashboard.css">
    <link rel="stylesheet" href="../../../css/admin/word_management/word_management.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/jwt-decode@3.1.2/build/jwt-decode.min.js" defer></script>
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-header">
            <h2></h2>
        </div>
        <ul>
            <li><a href="#home"><i class="fas fa-home"></i> Home</a></li>
            <li><a href="#user"><i class="fas fa-user"></i> User</a></li>
            <li><a href="#api"><i class="fa-solid fa-hat-cowboy"></i>API</a></li>
            <li><a href="#word"><i class="fa-solid fa-hat-cowboy"></i>Word</a></li>
            <li><a href="#topic"><i class="fa-solid fa-hat-cowboy"></i>Topic</a></li>
            <li><a href="#logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="header">
            <div id="breadcrumb"></div>
            <div class="menu">
                <i class="fa-sharp fa-solid fa-bell"></i>
                <ul id="notification-list" class="notification-list"></ul>
            </div>
        </div>
        <div class="content">
            <div class="content-wrapper">
                <div class="search-container">
                    <div class="main-search-container">
                        <input type="text" class="search-word" placeholder="Search...">
                        <ul class="result-search">
                            
                        </ul>
                    </div>
                    <a type="text" class="add-word-btn" >Add word</a>
                </div>
                <div id="section-word">
                    <!-- Your word items here -->
                    
                </div>
            </div>
            <div class="pagination-container">

                <!-- Your pagination here -->
               
            </div>
        </div>
    </div>
    <script type="module" src="../../../js/admin/dashboard.js"></script>
    <script type="module" src="../../../js/admin/word_management/word-management.js"></script>
</body>
</html>
